---
title: Investments
description: Investments
---


<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Focus: Market-leading small companies</h2>
    <h3>My strategy is based on the following criteria:</h3>
    <p>i) Dividends
      <br>
      ii) Competitive Edge
      <br>
      iii) Good Finances
    </p>

    <p>
      I prefer more companies (but max 15) and are not comfortable with having more than 30 percent in a particular company.
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='legacy'>My Investment Portfolio</h2>
    <p>Last updated 180728</p>
        <p><a href='https://www.avanza.se/aktier/om-aktien.html/32576/storytel-b'>Storytel</a> 32 % </p>
        <p><a href='https://www.avanza.se/aktier/om-aktien.html/643540/garo'>Garo</a> 16 % </p>
        <p><a href='https://www.pepins.com/companies/frilansfinans'>Frilans Finans</a> 5 % </p>

        <p> Cash 47 % </p>
  </section>
</article>

<article class='TimelineItem TimelineItem--topLink'>
  <section class='TimelineItem-footer'>
    <h3><a>Take me back to the top!</a></h3>
  </section>
</article>
