---
title: Podcasts
description: Podcasts I recommend
---
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>
  <section class='TimelineItem-details'>
    <h2>I recomend this #podcasts</h2>
    <br>
    <br>
    <br>
    <h2>Business</h2>
    <h3>Ledership</h3>
    <a href='https://www.acast.com/fornuftkansla'>Förnuft & känsla - En DI podd om ledarskap</a>
    <br>
    <a href='https://www.acast.com/finanspodden'>Finnanspodden</a>
    <br>
    <br>
    <h3>Business & Finance</h3>
    <a href='https://www.acast.com/borspoden'>Börspodden</a>
    <br>
    <a href='https://www.acast.com/kvalitetsaktiepodden'>Kvalitetsaktiepodden</a>
    <br>
    <a href='https://www.acast.com/outsiders'>Outsiders</a>
  </section>
</article>
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>
  <section class='TimelineItem-details'>
    <h2>Technology</h2>
    <h3>Tech News</h3>
    <a href='https://www.acast.com/startupveckan'>Breakit</a>
    <br>
    <a href='https://www.acast.com/digitalpodden'>Digitalpodden</a>

  </section>
</article>
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>
  <section class='TimelineItem-details'>
    <h2>Comedy</h2>
    <h3>Program</h3>
    <a href='https://www.acast.com/filipandfredrik'>Filip och Fredrik Podcast</a>
    <br>
    <a href='https://www.acast.com/alexosigge'>Alex & Sigges Podcast</a>
  </section>
</article>

<article class='TimelineItem TimelineItem--topLink'>
  <section class='TimelineItem-footer'>
    <h3><a>Take me back to the top!</a></h3>
  </section>
</article>
