---
title: softwareandservices
description: Software and Services
---

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Business intelligence</h2>
    <h3>RSS</h3>
    <a href='https://www.inoreader.com/'>Inoreader - Discover, share and read the best on the web</a>
    <br>
    <a href='https://getstream.io/winds/'>winds - Open Source RSS</a>
    <br>
    <h3>Alerts</h3>
    <a href='https://www.google.se/alerts'>Google Alerts - Monitor for interesting new content on the Internet</a>
    <br>
    <h3>News</h3>
    <a href='https://omni.se/'>Omni</a>
    <br>
    <h3>Trends</h3>
    <a href='https://trends.google.com/trends/?geo=SE'>Google Trends</a>
  </section>
</article>
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Analytics & Data</h2>
    <h3>Dashboard</h3>
    <a href='https://powerbi.microsoft.com/en-us/'>Microsoft Power BI</a>
    <br>
    <a href='https://marketingplatform.google.com/about/data-studio/'>Google Data Studio</a>
    <br>
    <h3>Analytics</h3>
    <a href='https://marketingplatform.google.com/about/analytics/'>Google Analytics</a>
  </section>
</article>

<article class='TimelineItem TimelineItem--topLink'>
  <section class='TimelineItem-footer'>
    <h3><a>Take me back to the top!</a></h3>
  </section>
</article>
